/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
body {
}

#page-wrapper,
.region-bottom {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
}

#page {
}

/*
 * Header
 */
#header {
  height: 87px;
  padding-top: 27px;

}

#header .section {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#header-second { 
  height: 139px;
}
#header-second .section {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.region-header {
}

.region-header-second{
  margin-left:25px;
  padding-top: 21px;
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  position: relative;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#main {
  /* min-height:450px;*/
}

/*
 * Content
 */
#content,
.no-sidebars #content {
  float: left; /* LTR */
  width: 1024px;
  margin-left: 0; /* LTR */
  margin-right: -1024px; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
  background-color: #f1f1f1;
}

.sidebar-first #content {
  width: 781px;
  margin-left: 242px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -1024px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.sidebar-first .front #content {
  width: 640px;
  margin-left: 20px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -660px; /* LTR */ /* Negative value of #content's width + left margin. */
  
}

.front #content-body {
  /*height: 316px;*/
}


.sidebar-second #content {
  width: 760px;
  margin-left: 0; /* LTR */
  margin-right: -760px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.two-sidebars #content {
  width: 560px;
  margin-left: 200px; /* LTR */ /* The width of .region-sidebar-first */
  margin-right: -760px; /* LTR */ /* Negative value of #content's width + left margin. */
}


#content.section {
  margin-left: 60px;
  margin-right: 67px;
  margin-top: 30px;
  margin-bottom: 0;
}

#content-header, #content-body {
  padding-left: 40px;
  padding-right: 30px;
}
#content-body {
  padding-top: 10px;
  padding-bottom: 5px;
  min-height: 316px;
  /*margin-bottom: 80px;*/
}
#content-header{
  min-height: 40px;
}

/*
 * Navigation
 */
#navigation {
  float: left; /* LTR */
  width: 100%;
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #navigation's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  height: 3em; /* The navigation can have any arbritrary height. We picked one
                    that is the line-height plus 1em: 1.3 + 1 = 2.3
                    Set this to the same value as the margin-top below. */
}

.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second {
  margin-top: 3em; /* Set this to the same value as the navigation height above. */
}

#navigation .section {
}

/*
 * First sidebar
 */
.region-sidebar-first {
  /*float: left;*/ /* LTR */
  width: 242px;
  margin-left: 0; /* LTR */
  margin-right: -242px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  /*min-height: 500px;*/
}

.front .region-sidebar-first {
  position: relative;
  float: right;
  margin-right: 40px;
  margin-top: 40px;
  width: 300px;
}
.front .region-sidebar-first .block {
  padding: 20px;
  margin-bottom: 20px;
}

.region-sidebar-first .section {
  margin: 0 20px 0 0; /* LTR */
  padding-left: 20px;
  padding-top: 40px;
}


/*
 * Second sidebar
 */
.region-sidebar-second {
  float: left; /* LTR */
  width: 200px;
  margin-left: 760px; /* LTR */ /* Width of content + sidebar-first. */
  margin-right: -1024px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}

.region-sidebar-second .section {
  margin: 0 0 0 20px; /* LTR */
  padding: 0;
}

/*
 * Footer
 */
.region-footer {
  clear: both;
  /*position: absolute;
  bottom: 0;
  width: 962px;*/
}

/*
 * Page bottom
 */
.region-bottom /* See also the #page-wrapper declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
.region-footer,
.region-bottom {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/

#user-block {
  float: right;
  margin-right: 23px;
}
#user-block-content{
  display: inline-block;
  margin-right: 18px;
}
#user-block-content h2.user-name{
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 0;

}
#user-block-content #secondary-menu{
  margin: 0;
}

div.user-picture {
  display: inline-block;
  vertical-align: top;
  height: 52px;
}
div.user-picture img {
  height: 52px;
  width: 52px;
}
#name-and-slogan {
  margin-left: 25px;
}

.region-help{
  margin-top: 10px;
  margin-bottom: 10px;
}
.region-help p:before {
  content: '● ';
}