@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic&subset=latin,latin-ext);
/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
  background-color: #e1e1e1;
}
body, fieldset, legend {
  font-family: 'Asap';
}

a:link, a:visited {
  text-decoration:none;
  color: #0074BD;
  
}
a:hover {
  text-decoration: underline;
}
p {
  margin: 0;
  padding: 0;
}

#page-wrapper {
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {
  background-color: #9c3;
}

#header .section {
}

#header-second {
  background-color: #333;
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0; 
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

#site-name a:link,
#site-name a:visited {
  color: #fff;
  font-family: 'Pacifico';
  text-shadow: 2px 2px #390;
  text-decoration: none;
  font-size:48px;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: none;
}

#site-slogan /* The slogan (or tagline) of a website */ {
  font-style: italic;
  color: white;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  top: -8px;
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  background-color: #f1f1f1;
}

#main {
}

/*
 * Content
 */
#content {
}

#content .section {
}

#content-body {
  background-color: #ffffff;
}
#page-title {
  border-bottom: dashed 2px #666;
}

.region-highlighted {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
  text-transform:uppercase;
  font-size: 24px;
  color: #666;
}

table {
  margin:0;
  padding:0;
  width:100%;
}

td, th {
  font-family: 'Asap';
  font-size: 14px;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:5px;
  padding-right:5px;
}
td {
  height: 30px;
}
th {
  height: 20px;
  /*
  background-color: #666;
  color: #ccc;
  border: solid 1px #fff;
  */
}
tr.even, tr.odd {
  border:0;
}
td.active {
  background: inherit;
}
th.active img {
  display:none;
}
thead{
  /*border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;*/
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.region-help /* Help text on a page */ {
  font-size: 16px;
  color: #666;
}

.more-help-link /* Link to more help */ {
}

.region-content /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

ul.links li {
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  padding: 0;
}

.item-list .pager li /* Each page number in the pager list */ {
  padding: 0 0.5em;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

.region-sidebar-first .block {
  background-color: #d8d8d8;
  border-right: solid 1px #CCC;
}
.front .region-sidebar-first .block {
  border: solid 1px #CCC;
}

.front p.front-welcome {
  font-size:23px;
  margin-top:10px;
}

.front ul.front-list {
  font-size: 18px;
  margin: 10px 0 44px 0;
  line-height: 2.0em;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
.region-footer {
  background-color: #d8d8d8;
margin-left: 20px;
margin-right: 40px;
text-align: center;
border: solid 1px #ccc;
margin-bottom: 10px;
}
ul.front-links{
  list-style: none;
  margin-top: 5px;
  margin-bottom:5px;
}
ul.front-links li{
  display: inline-block;
  padding-right: 10px;
  margin-left:10px;
  border-right: solid 1px #333;
}
ul.front-links li.last{
  border-right: none;
}
/*
 * Page bottom
 */
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
}

#user-block-content h2.user-name {
  font-style: italic;
  text-transform:uppercase;
  color: white;
  text-shadow: 1px 1px #339900;
  font-size: 18px;
  text-align: right;
}
#user-block-content h2.user-name a,
#user-block-content h2.user-name a:visited{
  color: white;
  text-decoration:none;
}
#user-links{
  text-align:right;
}
#user-links li.last{
  padding:0;
}
#user-links a,
#user-links a:visited{
  color: white;
  text-decoration:none;
  text-transform:uppercase;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}
#user-links a:hover{
  text-shadow: 1px 1px #339900;
}

div.user-picture{
  background-color: white;
  border: solid white 3px;
  border-radius: 5px;
}
div.user-picture img{
  border-radius: 3px;
}


/**
 * Summary block styles.
 */
 
#block-ces-summaryblock-ces-summary h2.block-title{
    display:none;
}
div.ces_summaryblock_controls{
  display: inline-block;
  float: left;
  width: 180px;
}
div.ces_summaryblock_controls h3 {
  margin: 0;
  padding: 0;
  height: 32px;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}
div.ces_summaryblock_box{
  display: inline-block;
  background-color: #444;
  padding-top: 11px;
  padding-bottom: 16px;
  margin-left: 10px;
  height: 68px;
  vertical-align: top;
}
div.ces_summaryblock_title{
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
div.ces_summaryblock_number{
  text-align: center;
  padding-left:5px;
  padding-right:5px;
  width: 85px;
}
div.ces_summaryblock_trade{
  padding-left: 16px;
  padding-right: 10px;
  width: 209px;
}
div.ces_summaryblock_content{
  font-size: 18px;
  font-weight: bold;
  margin-top:10px;
  margin-bottom: 5px;
  color: #fff;
}
div.ces_summaryblock_user,
div.ces_summaryblock_user a,
div.ces_summaryblock_user a:visited,
div.ces_summaryblock_user a:hover
{
  font-size: 14px;
  color: #999;
}
div.ces_summaryblock_value {
  font-size: 24px;
  font-weight: bold;
  margin-top:10px;
  margin-bottom: 5px;
}
div.ces_summaryblock_white {
  color: #fff;
}
div.ces_summaryblock_green {
  color: #9c3;
}
div.ces_summaryblock_red {
  color: #d53;
}
div.ces_summaryblock_white {
  color: #fff;
}
div.ces_summaryblock_currency {
  font-size: 14px;
  text-transform: capitalize;
  color: #999;
}
#block-ces-summaryblock-ces-summary div.form-item-account{
  margin-top: 0px;
  margin-bottom: 10px;
  width:148px;
  overflow:hidden;
  background: #333;
}
#block-ces-summaryblock-ces-summary div.form-item-account:hover{
  background: url('../images/transparent-select-arrow.png') no-repeat scroll 119px 0px #333;
}

#block-ces-summaryblock-ces-summary select#edit-account{
  background: transparent;
  border: none;
  color: white;
  font-family: 'Asap';
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  -webkit-appearance: none;
  margin-left: -7px;
  width: 176px;
}
#block-ces-summaryblock-ces-summary select#edit-account option{
  background-color: #333;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}

#block-ces-summaryblock-ces-summary div.form-item-period{
  width:148px;
  overflow:hidden;
  background: url('../images/grey-select-arrow.png') no-repeat scroll 119px 0px #666;
  border:solid 1px #666;
  height: 26px;
  margin: 0;
}
#block-ces-summaryblock-ces-summary select#edit-period{
  background: transparent;
  height: 26px;
  -webkit-appearance: none;
  width: 176px;
  border: medium none;
  font-family: 'Asap';
  font-weight: bold;
  font-style: italic;
  color: #ccc;
}
#block-ces-summaryblock-ces-summary select#edit-period option{
  background-color: #666;
  font-weight: normal;
  font-style: italic;
}
span.ces_summaryblock_user_icon{
  width: 22px;
  height: 17px;
  background: url('../images/woman-w.png') scroll no-repeat;
  display: inline-block;
  opacity: 0.3;
  background-size: 17px;
}
.block-ces-summaryblock a,
.block-ces-summaryblock a:hover,
.block-ces-summaryblock a:visited {
  color: #fff;
  text-decoration: none;
}

/**
 * Navigation block style.
 */
 #block-system-navigation {
   height: 100%;
 }
/** CSS reset */ 
#block-system-navigation ul li.expanded {
  list-style-image: none;
  list-style-type: none;
}
#block-system-navigation ul li.collapsed {
  list-style-image: none;
  list-style-type: none;
}
#block-system-navigation ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}
.region-sidebar-first .section {
  padding:0 !important; 
  width:100%;
  height: 100%;
}
#block-system-navigation .block-title {
  display: none;
}

#block-system-navigation  a { 
  color:#727E8C; 
  text-transform: uppercase; 
  text-decoration:none; 
  font-weight:700;
  margin-left:30px; 
  font-size:14px;
}
#block-system-navigation  ul { 
  margin:0; 
  padding:0;
  padding-top: 20px;
  width:100%; 
  list-style: none;
}
#block-system-navigation  ul li { 
  padding-bottom:20px; 
  padding-top:10px;
  position: relative;
}
#block-system-navigation  ul li.expanded.active-trail { 
  padding-bottom: 0;
}

#block-system-navigation  ul li a { 
  padding-left:27px;
}
#block-system-navigation  ul li li { 
  padding-bottom: 10px; 
  padding-top:0;
  margin-bottom: 0px;
}
#block-system-navigation  ul li li a { 
  color:#727E8C; 
  text-transform: none; 
  text-decoration:none; 
  background-position: -3px -254px; 
  padding-left:17px;
}
#block-system-navigation  li .menu{  
}

#block-system-navigation .expanded a:hover { 
  text-decoration:none; 
}
#block-system-navigation a:hover, #block-system-navigation .expanded  ul a:hover { 
  text-decoration:underline; 
  color:#535B66
}
.menu .expanded.active-trail, li .menu { 
  background-color:#F1F1F1
}

#block-system-navigation .menu a { 
  background-image:url(../images/sprite.png); 
  background-repeat:no-repeat;
}

#block-system-navigation ul li > ul { 
  display: none;
  margin-top: 0px;
  padding-top: 10px;
}
#block-system-navigation ul li.active-trail > ul {
  display: block;
}
#block-system-navigation ul li.active-trail:hover > ul a {
  margin-left: 30px;
}
#block-system-navigation ul li.active-trail:hover > ul {
  position: static;
  width: auto;
  left:0;
  top:0;
  border:none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#block-system-navigation ul li:hover > ul a{
  margin-left: 10px;
}
#block-system-navigation ul li:hover > ul {
  display: block;
  position: absolute;
  width: 180px;
  left: 242px;
  top: 0px;
  border: solid 1px #ccc;
  -moz-box-shadow: 2px 2px 6px 0px #ccc;
  -webkit-box-shadow: 2px 2px 6px 0px #ccc;
  box-shadow: 2px 2px 6px 0px #ccc;
}

.ces-offers a { background-position:0 -1px}
.ces-wants a { background-position: 0 -24px}
.ces-bank-selleractions a { background-position: 0 -45px}
.ces-bank-buyeractions a { background-position: 0 -67px}
.ces-bank-account a { background-position: 0 -86px}
.ces-bank-exchange a { background-position: 0 -109px}
.ces-offerswants-offers a:hover { background-position:0 -274px;}
.ces-offerswants-wants a:hover { background-position: 0 -297px}
.ces-bank-selleractions:hover { background-position: 0 -318px}
.ces-bank-buyeractions a:hover { background-position: 0 -340px}
.ces-bank-account a:hover { background-position: 0 -359px}
.ces-bank-exchange a:hover { background-position: 0 -382px}

span#active-vertical-tab {
  display: none;
}

ul.action-links {
  background: url('../images/add.png') scroll no-repeat 2px;
  list-style: none;
  padding-left: 15px;
}

ul.action-links a, ul.action-links a:visited {
  color: #333;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

ul.action-links a:hover {
  text-decoration: underline;
}

/* OFFERS AND WANTS */
div.ces-offerwant {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #F1F1F1;
  padding: 10px;
  -moz-box-shadow: 3px 3px 3px -1px #bbb;
  -webkit-box-shadow: 3px 3px 3px -1px #BBB;
  box-shadow: 3px 3px 3px -1px #BBB;
}
div.ces-offerwant-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
div.ces-offerwant-image {
  float: left;
  margin-right: 10px;
}

div.ces-offerwant-properties{
  clear:both;
  margin-top: 10px;
  border-top: solid 1px #fff;
}
dl.ces-offerwant-properties-list {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}
dl.ces-offerwant-properties-list dt {
  float: left;
  clear: left;
  width: 80px;
  font-weight: bold;
  margin-right: 5px;
}
div.ces-offerwant-footer {
  border-top: solid 1px white;
  padding-top: 5px;
  clear: both;
}
div.ces-offerwant-seller-picture {
  float: left;
}
div.ces-offerwant-seller-name-and-phone {
  float: left;
  line-height: 1.2em;
  font-size: 90%;
}
div.ces-offerwant-actions {
  margin-top: 5px;
  float: right;
}
div.ces-offerwant-footer div.user-picture {
  height: 24px;
  border-radius: 3px;
  border-color: #fff;
  background-color: #fff;
  border-width: 2px;
}
div.ces-offerwant-footer div.user-picture img {
  height: 24px;
  width: 24px;
  border-radius: 3px;
}
div.ces-offerwant-rate {
  text-align:right;
  margin-bottom: 5px;
  padding-right: 10px;
}
div.ces-offerwant-rate div {
  display: inline-block;
}
div.ces-offerwant-rate .field-item {
    font-style:italic;
    font-size:16px;
    margin-left:5px;
}

/*User profile*/
.profile div.user-picture {
  height: 120px;
  border-radius: 12px;
  float: left;
  border-color: #ccc;
  background-color: #ccc;
}
.profile div.user-picture img {
  height: 120px;
  width: 120px;
  border-radius: 8px;
}

div.profile dt{
  font-weight: bold;
  float: left;
  width: 120px;
  margin-right: 5px;
}
div.profile dt:after{
  content: ':';
}
div.profile dd {
  margin: 0 0 5px 0;
}
div.profile h3{
  clear: both;
}
div.profile h3.user-profile-ces-fullname {
  clear: none;
  border: none;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-shadow: 1px 1px #CCC;
  font-weight: bold;
  font-style: italic;
}
div.profile div.user-profile-account-items {
  float: left;
  min-width: 500px;
}
/* exchange accounts page */
div.ces-user-column, div.ces-accounts-column, div.ces-accounts-column div {
  display: inline-block;
}
div.ces-user-column{
  width: 200px;
}
div.ces-accounts-column {
  float: right;
  clear: both;
}
div.ces-accounts-column div {
  width: 125px;
}
div.ces-user-column div.user-picture {
  height: 24px;
}
div.ces-user-column div.user-picture img {
  height: 24px;
  width: 24px;
}
div.ces-account-user {
  height: 30px;
  padding-left: 5px;
  padding-right: 30px;
  padding-top: 2px;
  padding-bottom:2px;
}
div.ces-account-user-header{
  font-weight: bold;
  height: 20px;
}

.ces-currency-amount {
  text-align: right;
  width: 50px;
}
div.ces-account-user.odd, tr.odd {
  background-color: #F1F1F1;
}


/*
Account statement form
*/

#edit-controls{
  background-color:#D9D9D9;
  padding:5px 10px 5px 5px;
  margin-bottom:10px;
}
#edit-controls div, #edit-controls label{
  display: inline-block;
}
#edit-controls label:after{
  content:':';
}
#edit-controls label, #edit-controls input.form-submit{
  margin: 5px 0 5px 5px;
}
#edit-controls div.form-type-date {
  margin-left: 10px;
  margin-right:10px;
}
#edit-controls div.form-item{
  margin:0;
}
#edit-controls input.form-submit{
  float:right;
}

.ces-statement-date, .ces-statement-state{
  width:66px;
}
.ces-statement-user{
  width:200px;
}
.ces-statement-description{
  width:218px;
}
#content-body dt{
    font-weight: bold;
    width:150px;
    float: left;
    clear: both;
    height: 30px;
}
#content-body dt:after{
    content:':';

}
#content-body dd{
    height: 30px;
    margin-left: 150px
}